@mixin button($bcolor,
$url,
$x1,
$y1,
$bor,
$col) {
 background: $bcolor;
 -webkit-mask: url($url);
 mask: url($url);
 -webkit-mask-size: $x1 $y1;
 mask-size: $x1 $y1;
 border: $bor;
 color: $col;
}
.btn-container{
    position: relative;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    overflow: hidden;
    border: 1px solid;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 20px;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 8px;
}

.btn-container button{
    width: 101%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: bold;
    background: #000;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;
}
.btn-containe button:hover {
    -webkit-animation: ani 0.7s steps(22) forwards;
    animation: ani 0.7s steps(22) forwards;
  }

.mas{
    position: absolute;
    color: #000;
    text-align: center;
    width: 101%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    position: absolute;
    font-size: 11px;
    margin-top: 17px;
    overflow: hidden;
    font-weight: bold;
}


@-webkit-keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }
  @keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }

.vs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
}

.title{
    margin-bottom: 80px;
    padding : 30px
}

.btn{
    width: 360px;
    height : 150px;
    border-radius: 15px;
}

.btn:hover{
    background-color: transparent;
    color: rgb(172, 172, 172);
}

.nextbtn{
    margin-top: 20px;
}

.nextbtn:hover{
    background-color: transparent;
    color: rgb(172, 172, 172);
}

/* Large devices */
@media (max-width: 992px) { 
    .title{
        font-size: 36px;
        margin-bottom: 50px;
    }
    .btn{
        width: 240px;
        height : 150px;
    }

    .btn h2{
        font-size: 26px;
    }

    .vs{
        height: 150px;
    }

}

/* Medium devices*/
@media (max-width: 768px) { 
    .title{
        font-size: 32px;
        margin-bottom: 30px;
    }

    .btn{
        width: 180px;
        height : 100px;
    }

    .btn h2{
        font-size: 20px;
    }

    .nextbtn{
        width: 70px;
        font-size: 16px;
        margin-top: 10px;
    }

    .vs{
        height: 100px;
    }
}
 
/* Small devices */
@media (max-width: 425px) { 
    .title{
        font-size: 28px;
        margin-bottom: 15px;
    }

    .btn{
        width: 120px;
        height : 70px;
    }

    .btn h2{
        font-size: 12px;
    }

    .nextbtn{
        width: 50px;
        font-size: 10px;
    }

    .vs{
        height: 80px;
    }
}

@media (max-width: 375px){
    .title{
        font-size: 22px;
        margin-bottom: 15px;
    }

    .btn{
        width: 100px;
        height : 70px;
    }

    .btn h2{
        font-size: 10px;
    }

    .nextbtn{
        width: 50px;
        font-size: 10px;
    }

    .vs{
        height: 50px;
        font-size: 20px;
    }
}
