.carousel{
    background-color: transparent;
    border: transparent;
    margin: 50px 0;
}

.carousel:hover{
    background-color: transparent;
    border: white;
    color: white;
}

.img{
    border-radius: 15px;
    width: 100px;
    height: 100px;
}

.slider{
   width: 800px; 
}

.name{
    font-size: 1.2em;
}

/* Large devices */
@media (max-width: 992px) { 
    .carousel{
        margin: 40px 0;
    }
    .slider{
        width: 600px; 
     }

     .name{
        font-size: 1.1em;
    }
}

/* Medium devices*/
@media (max-width: 768px) { 
    .carousel{
        margin: 20px 0;
    }
    .slider{
        width: 550px; 
     }
     
    .name{
        font-size: 0.9em;
    }
}
 
@media (max-width: 640px) { 
    .carousel{
        margin: 10px 0;
    }
    .slider{
        width: 450px; 
     }
     
    .name{
        font-size: 0.7em;
    }
}

/* Small devices */
@media (max-width: 500px) { 
    .carousel{
        margin: 5px 0;
    }
    .slider{
        width: 370px; 
    }

    .name{
        font-size: 1px;
    }  
    
}

@media (max-width: 428px){
    .carousel{
        margin: 0;
    }
    .slider{
        width: 300px; 
    }
    
    .name{
        font-size: 0.1em;
    }
}
@media (max-width: 370px){
    .carousel{
        margin: 50px 0;
    }
    .slider{
        width: 250px; 
    }
    
    .name{
        font-size: 0.1em;
    }
}