@charset "utf-8";

@font-face {
    font-family: 'HeirofLightBold';
    src: url('/font/HeirofLightBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form,figure,figcaption {
    padding: 0;
    margin: 0;
    font-family: -apple-system, "HeirofLightBold", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen !important;
}

p {
    font-size: 1.2rem;
    transform: skew(-0.1deg);
}

.navText{
    font-size: 1.1rem;
}

a {
    color: black;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

.layout {
    text-align: center;
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    color: #fff; font-weight: 600; text-align: center;
}

.layout p {
    transform: skew(-0.1deg);
}

.stars, .twinkling {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    min-height: 100vh;
    display:block;
}

.stars {
    background:#000 url(../public/images/stars.png) repeat top center;
    z-index:-10;
}

.twinkling{
    background:transparent url(../public/images/twinkling.png) repeat top center;
    z-index:-9;
    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


@keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@import url("https://fonts.googleapis.com/css?family=Raleway:400");
@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
@property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
}
  
@property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
}

:root {
	--d: 3200ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgb(243, 243, 212);
	--c2: rgba(255, 255, 255, 0.1);
}

.b_box {
    width: 95%;
    height: 100%;
    padding: max(2rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
	border: 0.35rem solid;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.2turn, var(--c2) 0.1turn) 50;
	animation: borderRotate var(--d) linear infinite forwards;
}

.b_box:hover{
	border: 0.35rem solid;
	border-image: conic-gradient(from var(--angle), var(--c1), var(--c2) 0.9turn, var(--c2) 0.3turn, var(--c1) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
    cursor: pointer;
}

.n_box {
    width: 100px;
    margin: 0 auto;
    padding: 10px;
	border: 0.15rem solid;
	border-image: conic-gradient(from var(--angle), var(--c1), var(--c2) 0.1turn, var(--c2) 0.15turn, var(--c1) 0.25turn) ;
	animation: borderRotate var(--d) linear infinite forwards;
}

.n_box:hover{
	border: 0.15rem solid;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.1turn, var(--c2) 1turn) 1;
	animation: borderRotate var(--d) linear infinite forwards;
    cursor: pointer;
}


.box:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
	animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}

/* 반응형 */
@media (max-width: 375px){
    .navbar-brand { margin-right : 0 !important; }
    .b_box {padding: 1.3rem;}
    .n_box {width: 60px; height: 40px;}
}