.pageTitle { margin-top: 40px; font-size: 32px; line-height: 1; color: #fff; font-weight: 600; text-align: center; }

.a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
  
.a:hover {
    font-size: 20px;
    color: white;
    text-decoration: underline;
}

@media (max-width: 375px){
    .a { font-size: 1rem; transform: skew(-0.1deg); }
    .a:hover { font-size: 1rem; text-decoration: underline; }
    
}